// Here is where header styles start

header {
background-color:$tacha ;
}

header {
    margin: 0;
    border-bottom: 2px solid black;
     h1 {
        font-size: 30px;
        margin: 0;
        padding: .5em 0;
        color: rgb(56, 92, 22);
    }
}


nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    padding-bottom: 0.5em;
}